h1 {
    color: navy;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px ;
    padding: 12px 28px;

}

body {
    background-image: url('../imgs/beach-daytime.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
      
}

.button1 {background-color: green; color: white; border-radius: 8px;}
.button2 {background-color: yellow; border-radius: 8px;}
.button3 {background-color: aqua; border-radius: 8px;}
.button4 {background-color: pink; border-radius: 8px;}

#little-crab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}

/* #home {
    background: url('../imgs/small\ crab.gif') 0 0;
    display: flex;
    float: center;
    width: 46px;
    height: 44px;
} */


