@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Press+Start+2P&family=Splash&display=swap');

h1 {
    color: navy;
    font-family: 'Press Start 2P', cursive;
    font: 12x;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px ;
    padding: 12px 28px;
    border-radius: 16px;

}

body {
    background-image: url(../imgs/beach-daytime.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
      
}

.button1 {background-color: green; color: white; border-radius: 8px; padding: 14px 40px;}
.button2 {background-color: yellow; border-radius: 8px; padding: 14px 40px;}
.button3 {background-color: aqua; border-radius: 8px; padding: 14px 40px;}
.button4 {background-color: pink; border-radius: 8px; padding: 14px 40px;}

.child {
    transition: transfrom 1s;
}
.parent :hover .child {
    transform: translateX(100%);
}
#little-crab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    animation-name: move;
    animation-duration: 10s;
}


@keyframes move {
    from{transform: translateX(0)}
    to{transform: translateX(200px);}
    from{transform: translateX(200px)}
    to{transform: translateX(0);}
}


.newTama {
    text-align: center;
}

.stats {
    text-align: center;
    font-size: 25px;
}

span {
    font-size: small;
    color: navy;
    font-family: 'Press Start 2P', cursive;
}

